@{
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Account/Login/");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        html {
            font-size: 15px;
        }
    </style>

    <link href="~/wwwroot/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/wwwroot/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/wwwroot/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/wwwroot/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="~/wwwroot/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/wwwroot/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/wwwroot/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/wwwroot/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/wwwroot/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/wwwroot/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/wwwroot/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/wwwroot/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/wwwroot/css/theme.css" rel="stylesheet" media="all">
</head>
<body>
    < class="animsition">
    <div class="page-wrapper">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - IMECE Application</p>
            </footer>
        </div>

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">

                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="~/Home/Index">
                                <i class="fas fa-desktop"></i>INDEX
                            </a>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>PRODUCT
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="~/Product/Create">CREATE</a>
                                </li>
                                <li>
                                    <a href="~/Product/Read">READ</a>
                                </li>
                                <li>
                                    <a href="~/Product/Update">UPDATE</a>
                                </li>
                                <li>
                                    <a href="~/Product/Delete">DELETE</a>
                                </li>

                            </ul>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>FEATURES
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="~/Features/Create">CREATE</a>
                                </li>
                                <li>
                                    <a href="~/Features/Read">READ</a>
                                </li>
                                <li>
                                    <a href="~/Features/Update">UPDATE</a>
                                </li>
                                <li>
                                    <a href="~/Features/Delete">DELETE</a>
                                </li>

                            </ul>
                        </li>

                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>MANUFACTURERS
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="~/Manufacturers/Create">CREATE</a>
                                </li>
                                <li>
                                    <a href="~/Manufacturers/Read">READ</a>
                                </li>
                                <li>
                                    <a href="~/Manufacturers/Update">UPDATE</a>
                                </li>
                                <li>
                                    <a href="~/Manufacturers/Delete">DELETE</a>
                                </li>

                            </ul>
                        </li>

                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>PRODUCT_BRANDS
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="~/Product_Brands/Create">CREATE</a>
                                </li>
                                <li>
                                    <a href="~/Product_Brands/Read">READ</a>
                                </li>
                                <li>
                                    <a href="~/Product_Brands/Update">UPDATE</a>
                                </li>
                                <li>
                                    <a href="~/Product_Brands/Delete">DELETE</a>
                                </li>

                            </ul>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>ORGANISATIONS
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="~/Organisations/Create">CREATE</a>
                                </li>
                                <li>
                                    <a href="~/Organisations/Read">READ</a>
                                </li>
                                <li>
                                    <a href="~/Organisations/Update">UPDATE</a>
                                </li>
                                <li>
                                    <a href="~/Organisations/Delete">DELETE</a>
                                </li>

                            </ul>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>BRAND_ORGS
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="~/Brand_Orgs/Create">CREATE</a>
                                </li>
                                <li>
                                    <a href="~/Brand_Orgs/Search1">SEARCHWITHBRAND</a>
                                </li>
                                <li>
                                    <a href="~/Brand_Orgs/Search2">SEARCHWITHORG</a>
                                </li>

                            </ul>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>PRODUCT_FEATURES
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="~/Product_Features/Create">CREATE</a>
                                </li>
                                <li>
                                    <a href="~/Product_Features/Search1">SEARCHWITHPRODUCT</a>
                                </li>
                                <li>
                                    <a href="~/Product_Features/Search2">SEARCHWITHFEATURE</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("LogOut","Account")">

                                Logout
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">

                            </div>
                        </div>

                    </div>
                </div>
            </header>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Jquery JS-->
    <script src="~/wwwroot/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/wwwroot/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/wwwroot/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/wwwroot/vendor/slick/slick.min.js"></script>
    <script src="~/wwwroot/vendor/wow/wow.min.js"></script>
    <script src="~/wwwroot/vendor/animsition/animsition.min.js"></script>
    <script src="~/wwwroot/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/wwwroot/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/wwwroot/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/wwwroot/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/wwwroot/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/wwwroot/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/wwwroot/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="~/wwwroot/js/main.js"></script>


</body>

</html>
<script>
    var screenHeight = screen.height;
    if (screenHeight < 1000) {
        $('body').css('zoom', 0.8);
    } else {
        $('body').css('zoom', 1);
    }
</script>

