@model List<Bil372_Odev1_Grup6.Models.MANUFACTURERS>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>Kod</th>
                        <th>Ad</th>
                        <th>Adres</th>
                        <th>Şehir</th>
                        <th>Ülke Kod</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="spacer"></tr>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow">
                            <td>
                            </td>
                            <td class="desc">@item.MANUFACTURER_ID</td>
                            <td class="desc">@item.MANUFACTURER_NAME</td>
                            <td class="desc">@item.MANUFACTURER_ADDRESS</td>
                            <td class="desc">@item.CITY</td>
                            <td class="desc">@item.Country_Code</td>
                            <td>
                                <div class="table-data-feature">
                                    
                                    <button class="item" data-toggle="tooltip" onclick="deleteFunction(@item.MANUFACTURER_ID)" data-placement="top" title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

<script>
    function deleteFunction(id) {
        var url = "@Url.Action("Delete", "Manufacturers")" + "?mid=" + id;
          window.location = url;





    }

</script>