@model List<Bil372_Odev1_Grup6.Models.LINKINGPRODUCTFEATURES>

<!DOCTYPE html>
<html>

<body>

    <div class="card">
        <div class="card-header">
            <strong>Özellik Adı ile Ara </strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="">
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Özellik Adı</label>
                    <input id="fname" name="fname" placeholder="" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary btn-sm" value="Ara">
            </form>
        </div>

        <div class="card-footer">

        </div>
    </div>

    @if (Model != null)
    {
        <div class="col-lg-9">
            <div class="table-responsive table--no-card m-b-30">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                        <tr>
                            <th>Özellik Ad</th>
                            <th>Ürün Ad</th>
                            <th>Ürün Kod</th>
                            <th>Ürün Kategori</th>
                            <th>Min Değer</th>
                            <th>Max Değer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FEATURE_NAME</td>
                                <td>@item.M_NAME</td>
                                <td>@item.M_CODE</td>
                                <td>@item.M_CATEGORY</td>
                                <td>@item.MINVAL</td>
                                <td>@item.MAXVAL</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</body>
</html>
