@model List<Bil372_Odev1_Grup6.Models.PRODUCT>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>
                            
                        </th>
                        <th>Kodu</th>
                        <th>Adı</th>
                        <th>Kısa Adı</th>
                        <th>Üst Kodu</th>
                        <th>Kategorisi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="spacer"></tr>
                    @foreach (var item in Model)
                    {
                <tr class="tr-shadow">
                    <td>
                    </td>
                    <td class="desc">@item.M_CODE</td>
                    <td class="desc">@item.M_NAME</td>
                    <td class="desc">@item.M_SHORTNAME</td>
                    <td class="desc">@item.M_PARENTCODE</td>
                    <td class="desc">@item.M_CATEGORY</td>
                    <td>
                        <div class="table-data-feature">
                            <button class="item" data-toggle="tooltip" onclick="deleteFunction(0,@item.M_SYSCODE)" data-placement="top" title="Edit">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                            <button class="item" data-toggle="tooltip" onclick="deleteFunction(1,@item.M_SYSCODE)" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </button>

                        </div>
                    </td>
                </tr>
                    }
                    </tbody>
            </table>
        </div>
    </div>
</body>
</html>

<script>
    function deleteFunction(id, syscode) {
         var url = "@Url.Action("Delete", "Product")" + "?scode=" + syscode + "&value=" + id;
          window.location = url;
         
        



    }

</script>